* {
    margin: 0;
    box-sizing: border-box;
}

/* Custom Properties */
:root {
    /* Colors */
    --clr-light: rgba(255, 255, 255);
    --clr-dark: rgba(0, 0, 0);
    --clr-one: rgb(4,170,109);
    --clr-two: rgb(220,20,60);
    --clr-three: rgb(40,42,53);
    --clr-four: rgb(40,42,53);
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.5);

    /* Fonts/Texts */
    --ff-primary: 'Ubuntu', sans-serif;;
    --fw-normal: 400;
    --fw-bold: 700;

}

/* General Styles */
body {
    font-family: var(--ff-primary);
    color: var(--clr-light);
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #708090;
}

h1 {font-size: 5em;}
h2 {font-size: 3em;}

ul {
    list-style: none;
}

option {
    color: var(--clr-dark);
}

/* Class Styles */
.wrapper {
    justify-content: center;
    align-items: center;
    background-color: var(--clr-three);
    padding: 4em;
    border-radius: 25px;
    box-shadow: var(--bs);
}

.main-title {
    display: flex;
    margin: 25px;
}

.title_two {
    color: var(--clr-one);
}

.budget-header {
    display: flex;
    padding: 5px;
    margin-bottom: 10px;
    justify-content: center;
}

.title {
    font-size: 2em;
}

.budget-header__chart {
    margin: 0 100px 0 100px;
}

.add__container select,
.add__container input {
    font-size: 1.50em;
}



.add__type,
.add__description,
.add__value,
.add__btn {
    background-color: inherit;
    border: none;
    border-radius: 5px;
    color: var(--clr-light);
    text-decoration: none;
    margin-bottom: 25px;
}

.add__type,
.add__description,
.add__value:focus {
    outline: none;
}

.add__btn {
    transition: all 0.3s ease;
    font-size: 2em;
    padding: 0px;
}

.add__btn:hover {
    color: var(--clr-one);
    background-color: inherit;
}

.dashboard__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-income {
    margin: 25px 50px 25px 50px;
}

.toggle-income,
.toggle-all,
.toggle-expenses {
    cursor: pointer;
    font-weight: var(--fw-bold);
    position: relative;
}

.toggle-income:before,
.toggle-all:before,
.toggle-expenses:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--clr-light);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.toggle-income:before {
    background-color: var(--clr-one);
}

.toggle-expenses:before {
    background-color: var(--clr-two);
}

.toggle-income:hover:before,
.toggle-all:hover:before,
.toggle-expenses:hover:before {
    visibility: visible;
    width: 100%;
}

.active {
    opacity: 1 !important;
}

.hide {
    display: none;
}


/* Mobile Settings */